<a href="https://colab.research.google.com/github/codingyq/freecodecamp-python-refresher/blob/main/20250905_Tips%2C_Lists%2C_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tips: writing text, code and auto completion

## 1. Headings & formulas

### Stucturing the text:

* item1
* item2

regression equation: $y=\beta_0 + \beta_1 X_1 + ...+\epsilon$


regression equation with format: $$y=\beta_0 + \beta_1 X_1 + ...+\epsilon$$

## 2. Reporting errors & running without stopping

* click directly on SEARCH STACK OVERFLOW - Don't need to google it # well now obviously the Gemini can help us correcting the errors
* codding that won't stop: 1. click on stop button 2. Runtime - interupt execution
* code box - hiding the outcome: three dots on the right top - clear output

In [ ]:
y = 1

(1/(1-y))

In [ ]:
x = 5
while x>0:
  x+=1

## 3. Auto completion

In [6]:
import numpy as np

In [ ]:
np.ramdom.normal()

### Manually Triggering Autocomplete
If the suggestions go away while you're coding, you can often bring them back with a simple keyboard shortcut:

* On Windows and Linux, press Ctrl + Space.
* On a Mac, it's also typically Ctrl + Space, but if that opens your system search, you might need to use Option + Esc.
### - Other Potential Issues
If the shortcut doesn't work, there might be other issues causing the problem:

* First-time execution: Sometimes, the completion feature won't work for a library or variable until you've run the cell once. Make sure you've executed the code cell that defines the objects or imports the libraries you're working with.

* Settings: You might have a setting turned off. You can check your Colab editor settings by going to Tools > Settings > Editor and ensuring that "Show context-powered code completions" is selected.

*** Lists: Structure used to store a large amount of data

# Lists

### 1. Access the element in the list

In [7]:
friends = ["myt", "wql", "gsd","Oscar","Toby"] #string, number, boolyn

In [3]:
print(friends)

['myt', 'wql', 'gsd']

In [4]:
print(friends[0])

myt

In [10]:
print(friends[2])

gsd

In [9]:
print(friends[-1]) # grab from the back of the list. from front: 0 1 2...; from back -1 -2 -3 ...

Toby

In [8]:
print(friends[1:])  # everthing since that index

['wql', 'gsd', 'Oscar', 'Toby']

In [11]:
print(friends[1:3])  # grap from index up to another index: range from the first index up to the other, but not include the third

['wql', 'gsd']

### 2. Modify elements in the list

In [12]:
friends[1] = "WQL"
print(friends[1])
print(friends)

WQL
['myt', 'WQL', 'gsd', 'Oscar', 'Toby']

### 3. List functions

In [33]:
lucky_number = [4,8,6,15,16,42]
friends = ["myt", "WQL", "gsd","Oscar","Toby"]

In [34]:
print(friends)

['myt', 'WQL', 'gsd', 'Oscar', 'Toby']

In [35]:
friends.extend(lucky_number) #inside the ()),we can pass on the list that I want to add into friends list
print(friends)

['myt', 'WQL', 'gsd', 'Oscar', 'Toby', 4, 8, 6, 15, 16, 42]

In [36]:
friends.append("Creed")  # append: always add an item onto the end of the list
print(friends)

['myt', 'WQL', 'gsd', 'Oscar', 'Toby', 4, 8, 6, 15, 16, 42, 'Creed']

In [37]:
friends.insert(1,"Kelly") # append always onto the end, if we want to add item in the middle of the list, we use insert
        # insert takes 2 parameters, first: index where we want to insert item; second item we want to add
        # Once runned, the index place will become Kelly and from there otehr index will get pushed up
print(friends)

['myt', 'Kelly', 'WQL', 'gsd', 'Oscar', 'Toby', 4, 8, 6, 15, 16, 42, 'Creed']

In [38]:
friends.remove("Oscar") # Remove elements from the list
print(friends)

['myt', 'Kelly', 'WQL', 'gsd', 'Toby', 4, 8, 6, 15, 16, 42, 'Creed']

In [40]:
friends.clear() # Remove everthing in the list - give us a empty list
print(friends)

[]

In [41]:
friends = ["myt", "WQL", "gsd","Oscar","Toby"]
friends.pop()   # It pops an element off the list = Remove the last element in the list
print(friends)

['myt', 'WQL', 'gsd', 'Oscar']

In [42]:
print(friends.index("myt")) # Figure out if a certain value is in the list

0

In [43]:
print(friends.index("Kevin"))  # If the item is not in the list it will show an error

ValueError: 'Kevin' is not in list

In [44]:
# count the similar item in the list
friends = ["myt", "WQL", "gsd","Oscar","Toby","Jim","Jim"]
print(friends.count("Jim"))

2

In [48]:
# Sorting - in alphabetical order
friends.sort()
print(friends)

lucky_number = [48,8,6,15,16,42]
lucky_number.sort()
print(lucky_number)

['Jim', 'Jim', 'Oscar', 'Toby', 'WQL', 'gsd', 'myt']
[6, 8, 15, 16, 42, 48]

In [55]:
# Reverse a list - reverse the order
lucky_number.reverse()
print(lucky_number)

[6, 8, 15, 16, 42, 48]

In [53]:
# Copy - create another list and make it a copy
friends2 = friends.copy()     # friends2 will have all the same attributes as frinds = it is a copy

print(friends2)

['Jim', 'Jim', 'Oscar', 'Toby', 'WQL', 'gsd', 'myt']

# Tuples

* A type a data structure
* A container where we can strore different values
* Similar to List but have key difference with lists
* Tuples are immutable - can't be changed or modified e.g. add/modify/remove.. - Once it has been created, it is as it is
* We can access the elements in tuple
* We use tuples for data that's never going to change

In [54]:
# create a tuple and get access to the item
Coordinates = (4, 5)
print(Coordinates)
print(Coordinates[0])
print(Coordinates[1])

(4, 5)
4
5

In [56]:
# Tuple is immutable. We cannot chang it.
Coordinates[1] = 10
print(Coordinate[1])

TypeError: 'tuple' object does not support item assignment

In [58]:
# Difference with Lists and Tuples
# List = []  Tuples = ()
# List is doing the same thing. We can assign values/mutate any of the elemetns (add/delete/modify); Tuples we cannot do that
# Coordinates is such good candidate for a tuple because the data won't be changed. We want to add another coordinates
coordinates = [(4, 5), (6, 7), (80, 34)] # We can create lists of tuples
print(coordinates)

[(4, 5), (6, 7), (80, 34)]